/* 
  -----------------------------------
  Accordion Panel Magic
  by Project Seven Development
  www.projectseven.com
  Style Theme: 02 - Carbon
  -----------------------------------
*/

.p7AP3-02 {
	padding: 4px;
	margin: 0 auto;
	width: auto;
	background-color: #222;
}
.p7AP3:after {
	content: ".";
	font-size: 0px;
	display: inline;
	overflow: hidden;
	line-height: 1;
}
.p7AP3trig.p7ap3-theme-02 {
	margin: 0;
	padding: 0;
}
.p7AP3trig.p7ap3-theme-02 h3, .p7AP3trig.p7ap3-theme-02 h4 {
	margin: 0;
	padding: 0;
	letter-spacing: normal;
	font-size: 1em;
}
.p7AP3trig.p7ap3-theme-02 a {
	display: block;
	text-decoration: none;
	padding: 10px 20px;
	color: #BBB;
	background-color: #222;
	font-weight: normal;
	background-image: url(img/p7ap3_east_gray.gif);
	background-repeat: no-repeat;
	background-position: left center;
	border-top: 1px solid #333;
	border-bottom: 1px solid #000;
	box-shadow: inset 0px 12px 30px rgba(255,255,255,.05);
	-webkit-transition: all linear 0.15s 0.1s;
	transition: all linear 0.15s 0.1s;
}
.p7AP3trig.p7ap3-theme-02 .p7AP3_ext, .p7AP3trig.p7ap3-theme-02 .p7AP3_ext.p7AP3trig_down {
	color: #BBB;
	background-color: #333;
	letter-spacing: 0.1em;
	box-shadow: none;
	border-top: 1px solid #333;
	border-bottom: 1px solid #000;
	background-image: url(img/p7ap3_page_gray.gif);
}
.p7AP3trig.p7ap3-theme-02 a:hover {
	color: #CCC;
	background-color: #000;
	border-color: #000;
}
.p7AP3trig.p7ap3-theme-02 a:focus {}
.p7AP3trig.p7ap3-theme-02 .p7AP3trig_down {
	letter-spacing: 0.1em;
	background-image: url(img/p7ap3_south_black.gif);
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #999;
	color: #000;
	border-color: #999;
}
.p7AP3trig.p7ap3-theme-02 .p7AP3trig_down:hover {
	background-image: url(img/p7ap3_south_white.gif);
	background-color: #999;
	color: #FFF;
	border-color: #999;
}
.p7AP3cwrapper.p7ap3-theme-02 {
	position: relative;
}
.p7AP3panelcontent.p7ap3-theme-02 {
	line-height: 1.5em;
	background-image: url(img/p7ap3_bevel_white.jpg);
	background-repeat: repeat-x;
	background-color: #FFF;
	color: #000;
}
.p7AP3panelcontent.p7ap3-theme-02 h1,
.p7AP3panelcontent.p7ap3-theme-02 h2,
.p7AP3panelcontent.p7ap3-theme-02 h3,
.p7AP3panelcontent.p7ap3-theme-02 h4 {
	margin: 0px;
}
.p7AP3content.p7ap3-theme-02 p {
	margin: 6px 0;
}
.p7AP3trig.p7ap3-theme-02 a.current_mark {
	font-weight: normal;
}
.p7AP3panelcontent.p7ap3-theme-02 .current_mark {
	font-weight: bold;
}
